body{
    background-color: aqua;
}
/*
div{
    background-color: bisque;
}*/
.container{
    background-color: azure;
    height: 400px;
    margin-top: 100px;
    border: 2px solid red;
}
/*.Child1{
    background-color: lightpink;
    color: blueviolet;
    height: 300px;
    width: 300px;
    margin-left: 300px;
    box-sizing: border-box;
    padding: 100px 50px 40px;
    border: 2px solid blue;
}*/
div> p{
    background-color: yellow;

}